body {
    font-family: 'Nunito', sans-serif;
    height: 100%;

}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.background{
    background-image: url("/Assets/bg-image.jpg") ;
    height: calc(100vh);
    min-height: 350px;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.toplayer{
    z-index: 9999;

}

.carousel-item {
    height: calc(100vh);
    min-height: 350px;
    /*background: no-repeat center center scroll;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}


.carousel-caption{
    margin-bottom: 3%;

}

#carousel h1  {
    font-family:"Nunito", "Popins", sans-serif;
    text-shadow: 1px 1px  15px #222;



}


.carousel-caption{
    margin-bottom: 8%;

}
.image_container {
    text-align: center;
    display: block;
    z-index: 2;
    margin-top: 100px;


}

.body_logo{
    height: 250px;
    width: auto;

}
/*If the screen size is 600px wide or less, set the font-size of <div> to 30px*/
@media screen and (max-width: 700px) {
    #carousel h1 {
        font-size: 40px;
    }
}

.py-4{
    font-size: 1.1rem;

}

.btn-outline-light{
    padding: 18px 40px;
    font-size: 22px;

}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;


}

.section-bg {
    background-color: #f6f8fb;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2d405f;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #aabbd7;
    bottom: 0;
    left: calc(50% - 25px);
}
.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features{

}
.features .content + .content {
    margin-top: 100px;
}
.features .content h3 {
    font-weight: 600;
    font-size: 26px;
}
.features p{
    font-size: 18px;

}
.features .content ul {
    list-style: none;
    padding: 0;
}
.features .content ul li {
    padding-bottom: 10px;
}
.features .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #3b4ef8;
}
.features .content p:last-child {
    margin-bottom: 0;
}




/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about{
    background-color: #ffffff;
}
.about .content + .content {
    margin-top: 20px;
}
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}
.about p{
    font-size: 15px;

}
.features .content ul {
    list-style: none;
    padding: 0;
}

.features .content p:last-child {
    margin-bottom: 0;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
    height: calc(100vh - 70px);

}

@media (pointer:none), (pointer:coarse) {
    .contact{
        height: 100%;

    }
}

.contact .info-box {
    color: #2d405f;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}
.contact .info-box i {
    font-size: 32px;
    color: #3b4ef8;
    padding: 8px;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}
.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #8ea5ca;
}
.contact .php-email-form input {
    padding: 10px 15px;
}
.contact .php-email-form textarea {
    padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
    background: #3b4ef8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
}
.contact .php-email-form button[type=submit]:hover {
    background: #0a22f6;
}
